--- 
import Layout from "../layouts/Layout.astro";
import cabeceraFondo from "../../public/Black-Elegant-Workout-Tips-YouTube-Channel-Art-1.webp";
import cabeceraFran from "../../public/FranciscoRubio-CARE-1.webp";
import '../styles/styles.css';
import {getProfesionalesWordpressGraphQL} from '../services/api-wordpress';

const data = await getProfesionalesWordpressGraphQL();

---
<Layout title="CARE Experts">
    <div id="banner-podcast" style=`background-image:url(${cabeceraFondo.src});` class="bottom-background">
		<main>
			<main>
                <div id="flex-care-experts">
                    <div>
                        <h1><strong style="color:#cba036;">CARE</strong> Experts</h1>
                        <p>En el Club de Alto Rendimiento Empresarial contamos con profesionales destacados en sus sectores que te darán a conocer, a través de <strong>masterclass</strong>, todo lo necesario para que avances con tu empresa</p>
                        <p><strong>Importante:</strong> no son profesores, <strong> son empresarios y empresarias </strong>que ya han resuelto muchos de los problemas que te vas a encontrar en tu día a día.</p>
                        <a class="btn-dorado" href="#">Ver masterclass (solo para suscriptores disponible próximamente)</a>
                    </div>
                        <picture>
                            <img src={cabeceraFran.src} title="Francisco Rubio - CARE Experts"/>
                        </picture>
                </div>
            </main>
		</main>
	</div>
    <main>
        <center><h1 class="cabecera-titulo">Nuestros <span class="text-gradient">Expertos</span></h1></center>
        <div id="listado-profesionales">
            {
                data.profesionales.nodes.map((profesional : any) => {
                    let imagen = profesional.featuredImage.node.mediaItemUrl;
					return(
						<div class="item-profesional-box">
						<img src={imagen} width="100%" height="270px" alt="Podcast"/>
							<h3>{profesional.title}</h3>
							</div>
						</div>
					)
                })
            } 
        </div>
    </main>
</Layout>